body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chartContainar {
  /* padding: 100px 300px 0px 300px;
  height: 100%;
  margin: auto; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainarInRow{
  width: 80%;
}

.mt-100 {
  margin-top: 100px !important;
}